@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&family=Roboto:ital,wght@0,300;0,400;1,100;1,300&display=swap');


body {
    margin: 0;
    padding: 0;
    
}

.container {
    width: 100%;
}

header {
    background-color: #fff; 
    text-align: center;
    padding: 20px 0; 
    width: 100%; 
}

header img {
    width: 330px;
    height: 150px;
    display: block;
    margin: 0 auto;
}

nav {
    background-color: #9E9E9E;
    height: 50px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-family: 'Open Sans', sans-serif;
}

main {
    background-color: #F5F5F5;
    min-height: 500px; 
    padding: 13%;
}

footer {
    background-color: #fff;
    height: 100px;
    text-align: center;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

nav a {
    color: white; 
    text-decoration: none;
    margin: 0 15px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease; 
}
nav a:hover {
    background-color: #874B66; 
}

nav a.active {
    background-color: #874B66;
}

h1{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-top: -40px;
}