@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&family=Roboto:ital,wght@0,300;0,400;1,100;1,300&display=swap');


body {
    margin: 0;
    padding: 0;
    
}

.container {
    width: 100%;
}

header {
    background-color: #9EB8D9; 
    text-align: center;
    padding: 20px 0; 
    width: 100%; 
}

header img {
    width: 400px;
    height: 150px;
    display: block;
    margin: 0 auto;
}

nav {
    background-color: #A25772;
    height: 40px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-family: 'Open Sans', sans-serif;
}

main {
    background-color: #EEF5FF;
    min-height: 500px; /* Use min-height instead of height to allow for dynamic content */
    padding: 13%;
}

footer {
    background-color: #7C93C3;
    height: 100px;
    text-align: center;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

nav a {
    color: white; 
    text-decoration: none;
    margin: 0 15px; 
}